# Secret key for Django and JWT authentication
SECRET_KEY=your_secret_key_here
JWT_SECRET_KEY=your_jwt_secret_key_here

# Debug mode (should be False in production)
DEBUG=True

# Database configuration
DATABASE_NAME=profile_service_db        # Name of the PostgreSQL database
DATABASE_USER=your_db_username_here     # Username for the database
DATABASE_PASSWORD=your_db_password_here # Password for the database
DATABASE_HOST=profile-db                # Hostname of the database service (Docker service name)
DATABASE_PORT=5432                      # Port PostgreSQL listens on (default is 5432)

# Kafka configuration
KAFKA_BROKER=kafka:9092

# Migration settings
SKIP_MIGRATIONS=true
